.search-results a {
	color: #000!important;
}

.searchBar {
    position: absolute;
    left: 7px;
    top: 7px;
    max-width: 350px;
    width: 85%;
}

.searchBar .input-group-text {
	background-color: rgba(255, 255, 255, 1)!important;
	border-color: rgba(185, 151, 101, 1)!important;
	border-radius: 25px 0 0 25px;
}

.searchBar .form-control {
	border-left: 0;
	border-color: rgba(185, 151, 101, 1)!important;
	border-radius: 0 5px 5px 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(185, 151, 101, 1)!important;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(255,255,255,.25)!important;
}

.search-results {
	max-width: 346px;
	width: 85%;
	position: fixed;
	top: 50px;
	left: 10px;
	border: 1px solid rgba(185, 151, 101, 1)!important;
	background-color: #fff;
	border-radius: 5px;
}

.search-result-element {
	margin: 10px 10px 5px 20px;
	cursor: pointer;
	text-decoration: none;
}
.search-result-element:hover {
	text-decoration: underline;
}

.search-loading {
	margin: 20px auto;
	text-align: center;
	width: 100%;
}

.search-empty {
	margin: 20px auto;
	text-align: center;
	width: 100%;
}

.search-results .tab-content {
	max-height: 60vh;
    overflow: scroll;
}

.close-search {
	position: absolute;
	right: 5px;
	top: 0px;
	z-index: 99999;
	cursor: pointer;
}

.close-search img {
	width: 18px;
}















